version: '3.8'

services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wpuser
      MYSQL_PASSWORD: wppass
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inception_net

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    restart: always
    depends_on:
      - mariadb
    environment:
      WORDPRESS_DB_HOST: mariadb:3306
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wpuser
      WORDPRESS_DB_PASSWORD: wppass
      DOMAIN_NAME: localhost
      WP_ADMIN_USER: admin
      WP_ADMIN_PASSWORD: adminpass
      WP_ADMIN_EMAIL: admin@example.com
      WP_REGULAR_USER: author
      WP_REGULAR_PASSWORD: authorpass
      WP_REGULAR_EMAIL: author@example.com
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception_net

volumes:
  db_data:
  wp_data:

networks:
  inception_net:
    driver: bridge
